# dependencies
node_modules/

# next build output
.next/
out/

# logs & caches
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log
*.tsbuildinfo

# env
.env
.env.* 
!.env.example

# tool/host specifics
.vercel/
.DS_Store
Thumbs.db
.vscode/
.idea/
